@import url(https://fonts.googleapis.com/css?family=Lato:400,700,300);
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.header-container {
  min-width: 400px;
  font-family: "Lato", "Arial", sans-serif;
  width: 100%;
  height: 100px;
  background-color: #EEE;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center; }
  .header-container h1 {
    font-size: 1.5em;
    margin: 10px; }
  .header-container .search-bar {
    width: 45%;
    display: flex;
    justify-content: space-around;
    flex-wrap: nowrap; }
    .header-container .search-bar .search-input {
      padding-left: 10px;
      width: 100%;
      height: 30px;
      margin-right: 5px;
      border-bottom-left-radius: 8px;
      border-top-left-radius: 8px;
      border: none;
      box-shadow: 2px 2px 2px #888; }
      .header-container .search-bar .search-input:focus {
        outline: none; }
    .header-container .search-bar .search-btn {
      width: 50px;
      height: 30px;
      border-bottom-right-radius: 8px;
      border-top-right-radius: 8px;
      background-color: #29D9C2;
      box-shadow: 2px 2px 2px #888;
      display: flex;
      justify-content: center;
      align-items: center; }
      .header-container .search-bar .search-btn .search-icon {
        max-width: 70%;
        max-height: 70%; }
  .header-container .login-btn {
    color: white;
    width: 100px;
    height: 30px;
    background-color: #29D9C2;
    margin-right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 2px 2px 2px #888; }

@media (max-width: 843px) {
  .header-container {
    flex-wrap: wrap; }
    .header-container .search-bar {
      order: 2;
      width: 100%;
      margin: 0 10px;
      margin-bottom: 5px; } }
.categories-container {
  font-family: "Lato", "Arial", sans-serif;
  max-width: 1265px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 10px auto; }
  .categories-container .category {
    width: 400px;
    margin: 10px;
    margin-bottom: -40px; }
    .categories-container .category .main-img {
      max-width: 100%; }
    .categories-container .category .overlay {
      width: 100%;
      height: 50px;
      position: relative;
      bottom: 50px;
      right: 0;
      left: 0;
      background: rgba(0, 0, 0, 0.5); }
    .categories-container .category .title {
      text-align: center;
      font-size: 1.5em;
      padding: 10px;
      color: white; }
    .categories-container .category:hover {
      cursor: pointer; }

@media (max-width: 800px) {
  .categories-container {
    /*width: 90%;*/ }
    .categories-container .category {
      /*width: 80%;*/ } }

/*# sourceMappingURL=main.css.map */
